/*
#container {
  top: 100px;
  height: 80%;
  width: 100%;
  display: flex;
}
*/
#opt {
  height:300px;
  width: 300px;
  background-color: LightYellow;
}
#stats {
  width:300px;
  height:400px;
  max-height: 400px;
  background-color: LightBlue;
  overflow-y:scroll
}
#chart {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0
  width: 33%
  background-color: DarkBlue;
}
#selected {
    font-weight: bold
}
